<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tabulasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="kirimForm">
  <ion-list>
    <ion-card-title class="header-title">Pemilihan Presiden & Wakil Presiden</ion-card-title>
  
    <ion-row class="list-item">
      <ion-col size="4" align-self="center" > 
        <ion-img src="assets/images/paslon_01.png"></ion-img>
      </ion-col>  
      <ion-col size="8">   
        <ion-text class="berita-isi">Ir. H. Joko Widodo</ion-text> <br/> 
        <ion-text class="berita-isi">Prof. Dr. (H.C) KH. Ma'ruf Amin</ion-text > <br/>  
        <ion-input formControlName="suara_1" class="input-box" placeholder="Total Perolehan" type="number"></ion-input>
      </ion-col>  
    </ion-row>

    <ion-row class="list-item">
      <ion-col size="4" align-self="center" > 
        <ion-img src="assets/images/paslon_02.png"></ion-img>
      </ion-col>  
      <ion-col size="8">   
        <ion-text class="berita-isi">H. Prabowo Subianto</ion-text> <br/> 
        <ion-text class="berita-isi">H. Sandiaga Salahudin Uno</ion-text > <br/>  
        <ion-input formControlName="suara_2" class="input-box" placeholder="Total Perolehan" type="number"></ion-input>
      </ion-col>  
    </ion-row>

    <ion-row >
      <ion-col size="4">
        <ion-item class="center">
          <ion-label position="stacked" class="berita-isi">Sah</ion-label>
          <ion-input formControlName="suara_sah" class="input-box" placeholder="" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item class="center">
          <ion-label position="stacked" class="berita-isi">Tidak Sah</ion-label>
          <ion-input formControlName="suara_tidaksah" class="input-box" placeholder="" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item class="center">
          <ion-label position="stacked" class="berita-isi">Total Suara</ion-label>
          <ion-input formControlName="suara_total" class="input-box" placeholder="" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <br/>
    <br/>

    <ion-card-title class="header-title">Upload Form C1 & Plano</ion-card-title>

    <ion-row >
      <ion-col size="4" class="card-button">
        <div class="image-upload1" style="display:grid">
          <label for="file-input1">
            <img [src]="imageSrc1 || 'assets/images/template.png'"/>
          </label>
          <input id="file-input1" type="file" accept="image/x-png,image/jpeg" (change)="upload1($event)"/>

          <ion-label style="margin: auto;" for="file-input1" *ngIf="uploadPercent1">{{uploadPercent1 | async }} %</ion-label>
          <ion-progress-bar  for="file-input1" *ngIf="uploadPercent1" value="{{uploadPercent1 | async }}"></ion-progress-bar>
          <ion-input formControlName="suara_scan_1" style="display: none" for="file-input1">{{downloadURL1 | async }}</ion-input>
        </div>
      </ion-col>
      <ion-col size="4" class="card-button">
        <div class="image-upload2" style="display:grid">
          <label for="file-input2">
            <img [src]="imageSrc2 || 'assets/images/template.png'"/>
          </label>
          <input id="file-input2" type="file" accept="image/x-png,image/jpeg" (change)="upload2($event)"/>

          <ion-label style="margin: auto;" for="file-input2" *ngIf="uploadPercent2">{{uploadPercent2 | async }} %</ion-label>
          <ion-progress-bar  for="file-input2" *ngIf="uploadPercent2" value="{{uploadPercent2 | async }}"></ion-progress-bar>
          <ion-input formControlName="suara_scan_2" style="display: none" for="file-input2">{{downloadURL2 | async }}</ion-input>
        </div>
      </ion-col>
      <ion-col size="4" class="card-button">
        <div class="image-upload3" style="display:grid">
          <label for="file-input3">
            <img [src]="imageSrc3 || 'assets/images/template.png'"/>
          </label>
          <input id="file-input3" type="file" accept="image/x-png,image/jpeg" (change)="upload3($event)"/>

          <ion-label style="margin: auto;" for="file-input3" *ngIf="uploadPercent3">{{uploadPercent3 | async }} %</ion-label>
          <ion-progress-bar  for="file-input3" *ngIf="uploadPercent3" value="{{uploadPercent3 | async }}"></ion-progress-bar>
          <ion-input formControlName="suara_scan_3" style="display: none" for="file-input3">{{downloadURL3 | async }}</ion-input>
        </div>
      </ion-col>
    </ion-row>
    <br/>
    <br/>
    <br/>
    <br/>

    <!-- <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="upload($event)">
    <img id="blah" [src]="imageSrc1 || 'assets/images/template.png'" alt="your image" />
    {{uploadPercent1 | async }} % 
    {{downloadURL1 | async }}
    <img [src]="downloadURL1 | async" /> -->
    
    <!-- <ion-row >
      <ion-col size="4" class="card-button" (click)="browse()">
        <ion-img src="assets/images/template.png"></ion-img>
      </ion-col>
      <ion-col size="4" class="card-button">
        <ion-img src="assets/images/template.png"></ion-img>
      </ion-col>
      <ion-col size="4" class="card-button">
        <ion-img src="assets/images/template.png"></ion-img>
      </ion-col>
    </ion-row> -->

    <br/> 
    <ion-button expand="full" shape="round" [disabled]="!kirimForm.valid" (click)="kirim()">Kirim</ion-button>

  

  </ion-list>
</form>
</ion-content>
