
.bg-gray{
    background-color: grey;
}

.action-sheet-cancel{
    color:red;
}

.berita-isi{
    font-size: 12pt;
}

.input-box{
    font-size: 17pt;
}

.header-title{
    font-size: 15pt;
    text-align: center;
    margin-bottom: 20px;
}

.center{
    text-align: center;
}

.card-button:hover {
    cursor: pointer;  
}
  
.card-button:focus {
    cursor: pointer;  
}

.image-upload1>input {
    display: none;
}

.image-upload2>input {
    display: none;
}

.image-upload3>input {
    display: none;
}