.bg{
    background-color: lightgray;
    padding: 5px;
}

.berita-judul{
    font-size: 12pt;
    font-weight: bold;
}
.berita-tanggal{
    font-size: 8pt;
    color: darkblue;
}
.berita-isi{
    font-size: 8pt;
}


.list-item { 
    margin: 5px; 
    background-color: white;
}
  
.list-item:hover {
    cursor: pointer; 
    background-color: lightgray;
}
  
.list-item:focus {
    cursor: pointer; 
    background-color: lightslategrey;
}