<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="gotoHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Berita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-item class="list-item" *ngFor="let brt of berita | async">
    <ion-row justify-content-center align-items-center class="list-item">
      <ion-col size="3" align-self="center" > 
        <ion-img src="assets/images/berita.jpg"></ion-img>
      </ion-col>  
      <ion-col size="9">   
        <ion-text class="berita-judul">{{brt.judul}}</ion-text> <br/> 
        <ion-text class="berita-tanggal">{{brt.tanggal}}</ion-text > <br/> 
        <ion-text class="berita-isi">{{brt.isi}}</ion-text > <br/> 
      </ion-col>  
    </ion-row>
  </ion-item>
 

</ion-content>
