<ion-header> </ion-header>

<ion-content margin class="login-card">
  <ion-grid>
    <ion-row>
      <ion-col size="1"> </ion-col>
      <ion-col size="10">
        <form [formGroup]="loginForm">

          <ion-img class="img-login" src="assets/images/icon.png"></ion-img>

          <ion-item>
            <ion-label position="stacked">Kode TPS</ion-label>
            <ion-input formControlName="kode_tps" class="input-box" placeholder="Masukkan kode tps" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username" class="input-box" placeholder="Masukkan username" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" class="input-box" placeholder="Masukkan password" type="password"></ion-input>
          </ion-item>

          <ion-button expand="full" shape="round" [disabled]="!loginForm.valid" (click)="login()">Login</ion-button>
        
        </form>
      </ion-col>
      <ion-col size="1"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
