<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="berita">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Berita</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="tabulasi">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Tabulasi</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>
