<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Absen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
  
    
    <ion-row  class="center">  
      <ion-col size="12">  
        <br/> 
      </ion-col>
      <ion-col size="12">  
        <ion-label>Waktu</ion-label>
      </ion-col>
      <ion-col size="12" class="child">  
        <ion-label>{{str_datetime}}</ion-label> 
      </ion-col>
      <ion-col size="12">  
        <br/> 
      </ion-col>
      <ion-col size="12">  
        <ion-label>Lokasi</ion-label> 
      </ion-col>
      <ion-col size="12" class="child">  
          <ion-label>{{str_latitude}}, {{str_longitude}}</ion-label> <br/>
          <ion-label>{{str_address}}</ion-label> 
      </ion-col>
    </ion-row>
   
    <br/> 
    <ion-button expand="full" shape="round" (click)="absen()">Absen</ion-button>

    <br/>
    <br/> 

  </ion-list>
</ion-content>
