
.bg-gray{
    background-color: grey;
}

.action-sheet-cancel{
    color:red;
}

.center{
    text-align: center;
    align-self: auto;
}

.child{
    font-weight: normal;
    font-size: 10pt;
    color: darkslategray;
}