<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="gotoHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row justify-content-center align-items-center>
    <ion-col size="4"></ion-col>   
    <ion-col size="4"> 
      <ion-img src="assets/images/user.png"></ion-img>
    </ion-col>    
    <ion-col size="4"></ion-col>  
  </ion-row>

  <ion-row justify-content-center align-items-center>
    <ion-col size="3"></ion-col>   
    <ion-col size="6"> 
      <!-- <ion-button expand="full" shape="round" (click)="updateFoto()">Ganti Foto Profil</ion-button> -->
    </ion-col>    
    <ion-col size="3"></ion-col>  
  </ion-row>
  
  <ion-row>  
    <ion-col size="12"> 

      <br/>
      <br/>
      <ion-item>
        <ion-label position="stacked">Provinsi</ion-label>
        <ion-input class="input-box" placeholder="Masukkan Provinsi" type="text" value="{{str_nama_provinsi}}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kota/Kab</ion-label>
        <ion-input class="input-box" placeholder="Masukkan Kota/Kab" type="text" value="{{str_nama_kota}}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kecamatan</ion-label>
        <ion-input class="input-box" placeholder="Masukkan Kecamatan" type="text" value="{{str_nama_kecamatan}}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kelurahan</ion-label>
        <ion-input class="input-box" placeholder="Masukkan Kelurahan" type="text" value="{{str_nama_kelurahan}}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TPS</ion-label>
        <ion-input class="input-box" placeholder="Masukkan TPS" type="text" value="{{str_nama_tps}}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kode TPS</ion-label>
        <ion-input class="input-box" placeholder="Masukkan Kode TPS" type="text" value="{{str_kode_tps}}" disabled="true"></ion-input>
      </ion-item>

      <br/>
      <br/>
      <form [formGroup]="passwordForm">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input formControlName="username" class="input-box" placeholder="Masukkan Username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" class="input-box" placeholder="Masukkan Password" type="password" value=""></ion-input>
      </ion-item> 
      <ion-button expand="full" shape="round" [disabled]="!passwordForm.valid" (click)="updatePassword()">Ganti Password</ion-button>
      </form>

      <br/>
      <br/>
      <form [formGroup]="profileForm">
      <ion-item>
        <ion-label position="stacked">Nama</ion-label>
        <ion-input formControlName="nama" class="input-box" placeholder="Masukkan Nama" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">No HP</ion-label>
        <ion-input formControlName="no_hp" class="input-box" placeholder="Masukkan No HP" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tempat Lahir</ion-label>
        <ion-input formControlName="tempat_lahir" class="input-box" placeholder="Masukkan Tempat Lahir" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Lahir</ion-label>
        <ion-input formControlName="tanggal_lahir" class="input-box" placeholder="Masukkan Tanggal Lahir" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Alamat</ion-label>
        <ion-input formControlName="alamat" class="input-box" placeholder="Masukkan Alamat" type="text"></ion-input>
      </ion-item>
      <ion-button expand="full" shape="round" [disabled]="!profileForm.valid" (click)="updateProfile()">Update Data Diri</ion-button>
      </form>
      <br/>
      <br/>
      <br/>
      <br/>
      <ion-button expand="full" color="danger" shape="round" (click)="logout()">Logout</ion-button>

    </ion-col> 
  </ion-row>
</ion-content>
