.img-banner {
  max-height: 45vh; 
  overflow: hidden;
}

.card-1 {
  padding-top: 5px;
  padding-bottom: 5px;
} 
 
.title{
  font-size: 12pt; 
}

.card-button { 
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-button:hover {
  cursor: pointer; 
  background-color: lightgray;
}

.card-button:focus {
  cursor: pointer; 
  background-color: lightslategrey;
}

.card-button-disabled {
  background-color: #d5dae0;
  cursor: default; 
}