<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-img class="img-banner" src="assets/images/banner.png"></ion-img>
    
    <ion-card class="card-1">

      <ion-row>
        <ion-col size="3"> 
          <ion-img src="assets/images/user.png"></ion-img>
        </ion-col>  
        <ion-col size="1"> 
        </ion-col>  
        <ion-col size="8">  
          <ion-card-title>{{str_nama}}</ion-card-title>
          <ion-label>No HP : {{str_no_hp}}</ion-label> <br/>
          <ion-label>Kode TPS : {{str_kode_tps}}</ion-label> 
        </ion-col> 
      </ion-row>

      
      <ion-row >
        <ion-col size="3"> 
          <ion-img src="assets/images/tps.png"></ion-img>
        </ion-col>  
        <ion-col size="1"> 
        </ion-col>  
        <ion-col size="8">  
          <ion-card-title>{{str_nama_tps}}</ion-card-title>
          <ion-label position="fixed">Kel {{str_nama_kelurahan}}, </ion-label> <br/> 
          <ion-label position="fixed">Kec {{str_nama_kecamatan}}, </ion-label> <br/> 
          <ion-label position="fixed">{{str_nama_kota}}, </ion-label>  <br/> 
          <ion-label position="fixed">Prov {{str_nama_provinsi}}</ion-label> <br/> 
        </ion-col> 
      </ion-row> 

    </ion-card>

    
    <ion-row>
      <ion-col size="6"> 
        <ion-card [ngClass]="{'card-button': status_absen==false, 'card-button-disabled': status_absen==true}" (click)="gotoAbsen()">
          <ion-row justify-content-center align-items-center> 
            <ion-col size="4"> 
              <ion-img src="assets/images/star_full.png"></ion-img>
            </ion-col>    
            <ion-col size="8">  
              <ion-card-title class="title">Absen</ion-card-title> 
            </ion-col> 
          </ion-row>
        </ion-card>
      </ion-col> 
      <ion-col size="6"> 
        <ion-card [ngClass]="{'card-button': status_kirim==false, 'card-button-disabled': status_kirim==true}" (click)="gotoKirim()">
          <ion-row justify-content-center align-items-center> 
            <ion-col size="4"> 
              <ion-img src="assets/images/mail_send.png"></ion-img>
            </ion-col>    
            <ion-col size="8">  
              <ion-card-title class="title">Kirim Suara</ion-card-title> 
            </ion-col> 
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    

</ion-content>
