<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tabulasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <br/>
    <ion-card-title class="header-title">Pilih Wilayah Untuk Melihat Hasil Tabulasi</ion-card-title>
  
    <form [formGroup]="myForm">
    <ion-item>
      <ion-label>Provinsi</ion-label>
      <ion-select placeholder="-- Pilih --" interface="action-sheet" id="provinsi" formControlName="provinsi" (ionChange)="onProvinsiChange($event.target.value)">
          <ion-select-option value="">-- Pilih --</ion-select-option>
          <ion-select-option  *ngFor="let prov of provinsi | async" value="{{prov.kode_provinsi}}">{{prov.nama_provinsi}}</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label>Kota/Kab</ion-label>
      <ion-select placeholder="-- Pilih --" interface="action-sheet" id="kota" formControlName="kota" (ionChange)="onKotaChange($event.target.value)">
          <ion-select-option value="">-- Pilih --</ion-select-option>
          <ion-select-option *ngFor="let kot of kota | async" value="{{kot.kode_kota}}">{{kot.nama_kota}}</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-item>
      <ion-label>Kecamatan</ion-label>
      <ion-select placeholder="-- Pilih --" interface="action-sheet" id="kecamatan" formControlName="kecamatan" (ionChange)="onKecamatanChange($event.target.value)">
          <ion-select-option value="">-- Pilih --</ion-select-option>
          <ion-select-option *ngFor="let kec of kecamatan | async" value="{{kec.kode_kecamatan}}">{{kec.nama_kecamatan}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Kelurahan</ion-label>
      <ion-select placeholder="-- Pilih --" interface="action-sheet" id="kelurahan" formControlName="kelurahan" (ionChange)="onKelurahanChange($event.target.value)">
          <ion-select-option value="">-- Pilih --</ion-select-option>
          <ion-select-option *ngFor="let kel of kelurahan | async" value="{{kel.kode_kelurahan}}">{{kel.nama_kelurahan}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>TPS</ion-label>
      <ion-select placeholder="-- Pilih --" interface="action-sheet" id="tps" formControlName="tps" (ionChange)="onTPSChange($event.target.value)">
          <ion-select-option value="">-- Pilih --</ion-select-option>
          <ion-select-option *ngFor="let tp of tps | async" value="{{tp.kode_tps}}">{{tp.nama_tps}}</ion-select-option> 
      </ion-select>
    </ion-item>
     
    
    <ion-button expand="full" shape="round" (click)="presentLoading()">Preview</ion-button>
    </form>
    <br/>
    <br/>
    <ion-item *ngIf="loadProses">
      <ion-label style="color: #e74c3c">01 <br/>Joko Widodo - <br/>Ma'ruf Amin</ion-label>
      <ion-label style="color: #2ecc71">02 <br/>Prabowo Subianto - <br/>Sandiaga Uno</ion-label> 
    </ion-item> 
    <ion-item *ngIf="loadProses">
      <ion-label style="color: #e74c3c">{{numberWithCommas(_data1)}} Suara</ion-label>
      <ion-label style="color: #2ecc71">{{numberWithCommas(_data2)}} Suara</ion-label>
    </ion-item>
    <ion-item *ngIf="loadProses">
      <ion-label style="color: #e74c3c">{{numberPercen(_dataPersen1)}} %</ion-label>
      <ion-label style="color: #2ecc71">{{numberPercen(_dataPersen2)}} %</ion-label>
    </ion-item>
     
    <canvas  *ngIf="loadProses" baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="chartColors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>  

  </ion-list>
</ion-content>
